body{
  background-color: rgb(210, 178, 240);
  background-image: url('./img/floral-1814372__340.jpg');
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.App {
  text-align: center;
  
}
h1{
  color: rgb(129, 44, 168);
  padding: 100px;
}

